<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Compras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista de Compras</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Lista de Compras</strong>
    
    <!-- Lista de ítems -->
    <ion-list>
      <ion-item *ngFor="let item of shoppingList" (click)="toggleItem(item)">
        <ion-label>{{ item.name }}</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="item.checked"></ion-checkbox>
      </ion-item>
    </ion-list>

    <!-- Formulario para agregar nuevos ítems -->
    <ion-item>
      <ion-input placeholder="Nuevo ítem" [(ngModel)]="newItem"></ion-input>
      <ion-button expand="full" (click)="addItem()">Agregar</ion-button>
    </ion-item>
  </div>
</ion-content>
